<ion-header>
  <ion-toolbar class="festinha">
    <ion-title slot="start">
      Tab One
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login-usuario"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-card class="welcome-card">
      <ion-img src="/assets/Show.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Agenda de Shows</ion-card-subtitle>
        <ion-card-title>São Paulo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Confira a agenda de Shows em São Paulo, com as melhores atrações nacionais e internacionais.</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>